@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, Tahoma, Helvetica, sans-serif;
  }

  ul {
    list-style: disc;
    list-style-position: outside;
    padding-left: 1rem;
  }

  ul > li {
    padding-left: 0.65rem;
  }

  ul > li::marker {
    color: #8f19e8;
  }
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: Inter;
    src: local('Inter-Regular.ttf') url("./assets/fonts/inter/static/Inter-Regular.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: Inter;
    src:  url("./assets/fonts/inter/static/Inter-Bold.ttf");
    font-weight: bold;
  }

  @font-face {
    font-family: Inconsolata;
    src: url("./assets/fonts/inconsolata/static/Inconsolata-Regular.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: Inconsolata;
    src: url("./assets/fonts/inconsolata/static/Inconsolata-Bold.ttf");
    font-weight: bold;
  }

  @font-face {
    font-family: Lora;
    src: url("./assets/fonts/lora/static/Lora-Regular.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: Lora;
    src: url("./assets/fonts/lora/static/Lora-Bold.ttf");
    font-weight: bold;
  }
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf")
        format("woff2 supports variations"),
      url("./assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf")
        format("woff2-variations");
    font-weight: 400 700;
  }

  @font-face {
    font-family: "Inconsolata";
    src: url("./assets/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf")
        format("woff2 supports variations"),
      url("./assets/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf")
        format("woff2-variations");
    font-weight: 400 700;
  }

  @font-face {
    font-family: "Lora";
    src: url("./assets/fonts/lora/Lora-VariableFont_wght.ttf")
        format("woff2 supports variations"),
      url("./assets/fonts/lora/Lora-VariableFont_wght.ttf") format("woff2-variations");
    font-weight: 400 700;
  }
}
